%header
  .profile-image
    = gravatar(@user, 160)

  .user-info
    %h1
      = @user.name
      %small= "member since #{friendly_date(@user.created_at)}"
    %h2
      %span.score= @user.score

%section.content
  - if @patches.any?
    %h2 Recent Patches
    = render_table('patches', @patches, [:name, ['Introduced', :created_at], ['Implementations', :implementations_count]])

  - if @implementations.any?
    %h2 Top Implementations
    = render_table('implementations', @implementations, [:label, ['Submitted', :created_at], :score])

%section.actions
  = link_to('Back', users_path)
