.media
  .pull-left
    = image_tag(@user.gravatar_url(:size => 120, :default => 'identicon'), :class => 'media-object')
  .media-body
    %h2
      = @user.user_name
      %small= @user.real_name

    %p= "Joined #{time_ago_in_words(@user.created_at)} ago"

.row
  .col-lg-6
    %h3 Specs
    = render(:partial => 'specs/table')

  .col-lg-6
    %h3 Implementations
    = render(:partial => 'implementations/table')
