.page-header
  %h1= link_to(rainbowify('Patchwork'), root_path)
  %p.lead A function-as-library experiment

- if logged_in?
  .row
    .col-lg-6
      %h2 My Specs
      = render(:partial => 'specs/table')

    .col-lg-6
      %h2 My Implementations
      = render(:partial => 'implementations/table')

- else
  %p!= "#{link_to('Log in', login_path)} or #{link_to('register', register_path)} to continue."
