%header
  %h1 Register

= form_for(register_path) do
  .field
    = label_tag(:name)
    = text_field_tag(:name)

  .field
    = label_tag(:email)
    = text_field_tag(:email)

  .field
    = label_tag(:password)
    = password_field_tag(:password)

  .field
    = label_tag(:password_confirmation)
    = password_field_tag(:password_confirmation)

  .actions
    = submit_tag('Register')
    = link_to('Log in', login_path)
