%h2= "Implement #{@spec.name}"
%p.lead= @spec.description

= form_for(@implementation) do |f|
  = f.hidden_field(:spec_id)

  .row
    .col-lg-6
      = f.label(:source)
      = f.text_area(:source, :class => 'editor')

    .col-lg-6
      = f.label(:tests)
      = text_area_tag(:tests, @spec.tests, :class => 'editor', :'data-readonly' => true)

  = f.submit(:class => 'btn btn-primary')
