%header
  %h1
    Implement
    = link_to(@patch.name, @patch)

%section.implementation
  %section.source
    = form_for(@implementation) do |f|
      = f.hidden_field(:patch_id)
      = code_editor(f, :source, @patch.language)

      .actions
        = f.submit

  %section.tests
    = form_for(@patch) do |f|
      = code_editor(f, :tests, @patch.language)
