%header
  %h1
    = implementation_link(@implementation)
    = link_to('Edit', edit_implementation_path(@implementation)) if @implementation.user == current_user

%section.content
  = form_for(@implementation) do |f|
    = code_editor(f, :source, @patch.language, :'data-readonly' => true)

%section.comments
  = comments(@comments, @new_comment)
