%h2
  = link_to(@implementation.function.name, @implementation.function)
  = "/"
  = link_to(@implementation.user.user_name, @implementation.user)
  = form_tag(vote_url(@implementation), :style => 'display: inline-block;') do
    %a.submit-form(href="javascript:void(0);") <span class="icon-thumbs-up"></span>
    %small= pluralize(@implementation.score, 'upvote')

%textarea.editor(data-readonly="true" data-language="#{@implementation.function.language}")= find_and_preserve(@implementation.source)

= comments_section(comment_on_implementation_path(@implementation))
