= form_for(@spec) do |f|
  %fieldset
    = text_input(:name, :spec, :placeholder => 'A short name for the function')
    = text_input(:description, :spec, :placeholder => 'Describe how the function should work')
    = text_input(:args, :spec, :placeholder => 'A comma-separated list; e.g., "values:array, recursive:boolean"')
    = text_input(:return, :spec, :placeholder => "The function's return type")

    .form-group
      = f.label(:signature)
      = f.text_area(:signature, :class => 'editor', :'data-readonly' => true)

    = submit_tag('Create', :class => 'btn btn-primary')
