%table.specs.table.table-striped
  %thead
    %tr
      %th User
      %th Spec
      %th Description
      %th Created
      %th Implementations

  %tbody
    - @specs.each do |spec|
      %tr
        %td.user= spec.user.user_name
        %td.name= link_to(spec.name, spec)
        %td.description= spec.description
        %td.created= "#{time_ago_in_words(spec.created_at)} ago"
        %td.implementations= spec.implementations_count
