%h2
  = @spec.name
  %small= @spec.description

.row
  .col-lg-6
    %h3 Implementations
    = render(:partial => 'implementations/table')

  .col-lg-6
    %h3 Take a stab
    - if logged_in?
      = render(:partial => 'implementations/form')
    - else
      != "#{link_to('Log in', login_path)} to submit an implementation"

= comments_section(comment_on_spec_path(@spec))
