%header
  %h1
    = @patch.name
    = link_to('Edit', edit_patch_path(@patch)) if @patch.user == current_user

  %p.description= @patch.description

  .details
    %span.language= @patch.language
    - @patch.each_tag do |tag|
      %span.tag= tag

%section.content
  = form_for(@patch) do |f|
    = code_editor(f, :tests, @patch.language, :'data-readonly' => true)

%section.actions
  = link_to('Implement', new_implementation_path(@patch))
  = link_to('Back', patches_path)

- if @implementations.any?
  %section.implementations
    %h2 Implementations

    %hr

    - @patch.implementations.each do |impl|
      .implementation
        .user
          .profile-image
            = image_tag(impl.user.gravatar_url(:size => 120, :default => 'identicon'))
          %h3
            = link_to(impl.user.name, impl.user)
            %small= friendly_date(impl.created_at)
          %h4
            %span.score= impl.score

            - if logged_in? && !current_user.already_voted_for?(impl)
              %button(data-implementation-id="#{impl.id}")
                %span.vote

        .source
          %textarea.code-editor(data-language="#{@patch.language}" data-readonly="true")= impl.source
