- if new_comment
  = form_for(new_comment) do |f|
    %fieldset
      %legend Add a Comment
      = f.hidden_field(:subject_id)
      = f.hidden_field(:subject_type)

      .field= f.text_area(:content)
      .actions= f.submit

- if comments.any?
  %hr

  - comments.each do |comment|
    .comment
      .user
        = gravatar(comment.user, 48)
      .content
        %h4
          = link_to(comment.user.name, comment.user)
          %small= friendly_date(comment.created_at)
        %p= comment.content
