!!! 5
%html
  %head
    %title Patchwork
    = stylesheet_link_tag('application', :media => 'all', :'data-turbolinks-track' => true)
    = javascript_include_tag('application', :'data-turbolinks-track' => true)
    = csrf_meta_tags

  %body(data-page="#{params[:controller]}-#{params[:action]}")
    %nav
      .container
        %ul
          %li= link_to('Patchwork', root_path)
          %li= link_to('Patches', patches_path)
          %li= link_to('Users', users_path)

        = session_links

    %main
      = notices

      = yield
